.title {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 25%;
}

.list-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    margin-left: 20%;
    margin-right: 10%;
}

.button-styles {
    background-color: #8eac8c;
    color: #dbd5d1;
    padding: 55px 20px 55px 20px;
    text-decoration: none;
    margin: 20px 5px 40px 5px;
    border-radius: 50%;
    width: 70%;
    min-width: 130px;
    max-width: 130px;
    display: flex;
    justify-content: center;
}

.button-styles:hover {
    color:thistle;
}


.howdiyListed {
    border: none;
    margin: 20px 40px 0px 40px;
    background-color: #e0ecdf;
    color: rgb(95, 93, 93);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
  }

.howdiyListChild {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.howdiyListImg {
    display: flex;
    justify-content: flex-start;
    border-radius: 50%;
    height: 20vw;
    width: 20vw;
    max-height: 200px;
    max-width: 200px;
}

.howdiyListText {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    margin-left: 20px;
  };