/* HOME */


/* JOIN */

.title-img {
  min-width: 250px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.root-link {
  background-color: #e0ecdf;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  padding: 2px 10px 2px 10px;
  color: #63605e;
}

.root-submit {
  background-color: thistle;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  padding: 2px 10px 2px 10px;
  color: #63605e;
}

.root-text {
  color: rgb(95, 93, 93);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20vw;
  margin-right: 20vw;
}

.root-img-styles {
  justify-content: center;
  flex-direction: column;
  height: 10vw;
  width: 10vw;
  max-height: 100px;
  max-width: 100px;
}


/* LOG IN */
.root-title {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 25%;
}

/* NAVBAR */
.navbarBg {
  background-color: #8eac8c;
}

.navbarMain {
  color: #b1aca8;
}


/* PROFILE */

.profile-section {
    border: none;
    margin: 20px 40px 0px 40px;
    background-color: rgb(95, 93, 93);
    color: #e0ecdf;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 20px 20px 20px 20px;
  }

.profile-child {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.profile-img {
    display: flex;
    justify-content: flex-start;
    border-radius: 50%;
    width: 40%;
}

.profile-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    margin-left: 20px;
  };


.profile-howdiy-listed {
    color: rgb(95, 93, 93);
    display: flex;
    justify-content: center;
  }
  
.profile-howdiy-list-child {
    background-color: #e0ecdf;
    border: none;
    margin: 20px 40px 0px 40px;
    padding: 20px 40px 20px 60px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    font-size: 2vmax;
    font-weight:600;
  }
  
.profile-howdiy-list-img {
    display: flex;
    justify-content: flex-start;
    border-radius: 50%;
    height: 20vw;
    width: 20vw;
    max-height: 200px;
    max-width: 200px;
  }

.profile-howdiy-list-ratings {
  font-size: 1.2vmax;
  font-weight:500;
  padding: 0px 20px 0px 20px;
}


/* SIGN UP */